<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <h3>Pot-O-Matic</h3>
                <p>© 2025 Pot-O-Matic. All Rights Reserved.</p>
            </div>
            <div class="footer-authors">
                <h4>Contact us</h4>
                <ul>
                    <li>Enzo Moreau - <a href="mailto:jean.dupont&#64;example.com">Enzo.Moreau.Etu&#64;univ-lemans.fr</a></li>
                    <li>Lina Pasquier - <a href="mailto:marie.curie&#64;example.com">Lina.Pasquier.Etu&#64;univ-lemans.fr</a></li>
                    <li>Emma Rasson - <a href="mailto:albert.einstein&#64;example.com">Emma.Rasson.Etu&#64;univ-lemans.fr</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
