<div class="wrapper">
  <div class="title-container">
    <img src="/assets/openpot.svg" class="title-image" />
    <h1>Put on your apron.</h1>
  </div>

  <div class="title-wrapper">
    <div class="image-wrapper">
      <img
        [src]="recipe?.image"
        [alt]="recipe?.name"
      />
    </div>
    <div class="information-wrapper">
      <h2>Recipe</h2>
      <p>Preparation time: {{ recipe?.cooking_time }} min</p>
      <p>Cooking time: {{ recipe?.preparation_time }} min</p>
      <p>{{ recipe?.direction }}</p>  <!-- 🔥 Affiche les étapes ici -->
    </div>
  </div>

  <h3>{{ recipe?.name }}</h3>

  <div class="bottom-wrapper">
    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul>
        @for (ingredient of recipe?.ingredients; track ingredient.id) {
          <li>{{ ingredient.name }}</li>
        }
      </ul>
    </div>

    <div class="map-container">
      <div class="map-title">Any missing ingredients?</div>
      <app-carte></app-carte>
    </div>
  </div>
</div>
