<div class="wrapper">
  <div class="title-container">
    <img src="/assets/pot-open.svg" class="title-image" />
    <h1>Put on your apron.</h1>
  </div>
  <div class="title-wrapper">
    <div class="image-wrapper">
      <img
        src="https://img.freepik.com/free-psd/roasted-chicken-dinner-platter-delicious-feast_632498-25445.jpg"
        alt=""
      />
    </div>
    <div class="information-wrapper">
      <h2>Recipe</h2>
      <p>Recipe time: 45 minutes</p>
      <p>Pescatarian</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, culpa
        quaerat? Suscipit alias earum a error? Suscipit quis quas commodi.
        <br />
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit cum odit
        facere, inventore repudiandae quae repellendus praesentium veniam vel?
        Beatae laboriosam provident ad excepturi iste optio corporis nobis.
        Illo, quis? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Soluta illo nam cumque perspiciatis obcaecati. Sapiente deleniti error,
        animi in consectetur saepe nobis. Sequi repellat animi dignissimos ipsa
        repellendus sed velit. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Repudiandae perspiciatis autem voluptatem magni
        mollitia dolorem ullam neque, nam exercitationem culpa!
      </p>
    </div>
  </div>
  <h3>Salmon & veggies</h3>
  <div class="bottom-wrapper">
    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul>
        <li>Salmon</li>
        <li>Asparagus</li>
        <li>Carrots</li>
        <li>Broccoli</li>
        <li>Garlic</li>
        <li>Butter</li>
        <li>Pepper</li>
        <li>Salt</li>
      </ul>
    </div>
    <div class="map-container">
      <div class="map-title">Any missing ingredients?</div>
      <app-carte></app-carte>
    </div>
  </div>
</div>
