<div class="grid-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="🔍 Recherche aliment"
    />
  </div>
  <div class="ingredient-grid">
    <!--<div *ngFor="let ingredient of filteredIngredients" class="ingredient-card">
        <span class="ingredient-icon">{{ ingredient.icon }}</span>
        <span class="ingredient-name">{{ ingredient.name }}</span>
      </div>-->

    <div *ngFor="let ingredient of filteredIngredients" class="ingredient-card">
      <div class="">
        <div class="">
          <span class="ingredient-icon">{{ ingredient.name }}</span>
          <h5>{{ ingredient.icon }}</h5>
        </div>
        <div class="buttons">
          <button class="" type="button"><span>-</span></button>
          <button class="" type="button"><span>+</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
