<div class="grid-container">
  <p>Add your ingredients</p>
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
      placeholder="🔍 Search"
    />
  </div>
  <div class="ingredient-grid">
    @for (ingredient of ingredients; track ingredient; let i = $index) {
    <div class="ingredient-card">
      <p class="ingredient-icon">{{ ingredient.name }}</p>
      <div class="buttons">
        <button (click)="decreaseQuantity(ingredient)" type="button">
          <span>-</span>
        </button>
        <span class="ingredient-name">{{ ingredient.quantity }}</span>
        <button (click)="increaseQuantity(ingredient)" type="button">
          <span>+</span>
        </button>
      </div>
    </div>
    }
  </div>
</div>
