.header-top {
  background-color: #527754;
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}

.header-menu {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: 800;
}

.header-menu ul li a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.active a {
  color: #527754 !important;
}
